*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
    background-color: black;
}

/* =================== NAVBAR ======================= */

header{
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.77);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .2%;
    padding: .9%;
    width: 97%;
    visibility: hidden;
    opacity: 0;
    animation: show-navbar 1s forwards;
    animation-delay: .4s;
}

@keyframes show-navbar{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .navbar .left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 10%;
}

header .navbar .left img{
    height: 50px;
}

header .navbar .left a{
    text-decoration: none;
}

header .navbar .left h3.logo{
    margin-top: 10%;
    margin-left: 2%;
    font-size: 110%;
    width: 100%;
    letter-spacing: 6%;
    color: white;
    font-family: "Eagle Lake", cursive;
    font-weight: lighter;
    cursor: pointer;
}

header .navbar .left h3.logo:hover{
    color: red;
}

header .navbar .middle ul{
    display: flex;
    gap: 80px;
    margin-top: 1%;
}

header .navbar .middle ul li{
    list-style: none;
}

header .navbar .middle ul li a{
    text-decoration: none;
    font-size: 240%;
    font-family: "Italianno", cursive;
    font-weight: 500;
    color: white;
    transition: .2s ease;
}

header .navbar .middle ul li a:hover,
header .navbar .middle ul li a.active{
    color: red;
}

/* ====================== PAGE 1 =================== */

#page1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.736),black), url(./image/Fitness2\ BG.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: contain;
    width: 100%;
    height: 340vh;

}

.page1{
    color: white;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    visibility: visible;
    opacity: 0;
    animation: show-navbar 1s forwards;
    animation-delay: .6s;
}

.page1 h3.head{
    font-size: 340%;
    font-family: "Italianno", cursive;
    font-weight: lighter;
}

.page1 .grid {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    gap: 10vh;
}

.page1 .grid .left img{
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(82, 82, 82);
    height: 600px;
    width: 700px;
}

.page1 .grid .right{
    width: 900px;
}

.page1 .grid .right h4.head{
    font-size: 600% ;
    font-family: "Italianno", cursive;
    font-weight: lighter;
}

.page1 .grid .right p.des{
    font-family: "Eagle Lake", cursive;
    font-size: 150%;
}

.page1 a button.register{
    margin-top: 60px;
    padding: 5%;
    width: 500px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.page1 a button.register:hover{
    transform: scaleX(1.03);
    border: none;
    background-color: white;
    color: black;
}

/* ======================== FOOTER ======================== */

/* ======================= PAGE 2 ======================= */

#page2{
    background-color: rgb(30, 30, 30);
    height: 40vh;
}

.page2{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30%;
}

.page2 .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 7%;
}

.page2 .left img{
    height: 100px;
}

.page2 .left h3.logo{
    font-size: 25px;
}

.page2 .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    margin-top: 6%;
}